{% extends 'BLOGTemplateBundle:Theme:template.html.twig' %}

{% block title %}{{ parent() }}Ajouter{% endblock %}

{% block body %}	
	
<br><br><h3>Publier un objet :</h3><br> 


<div class="well" style="margin: 0 auto;">
		
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}   
    {{ form_errors(form) }}

    <div class="form-group">      
      {{ form_label(form.title, "Nom de l'objet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}      
      {{ form_errors(form.title) }}
      <div class="col-sm-4">        
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
      </div>	  
    </div>

    <div class="form-group">
      {{ form_label(form.content, "description de l'objet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.title) }}
      <div class="col-sm-4">
        {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
	
	<div class="form-group">
      {{ form_label(form.date, "description de l'objet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
      {{ form_errors(form.title) }}
      <div class="col-sm-4">
        {{ form_widget(form.date, {'attr': {'class': 'form-control'}}) }}
      </div>
    </div>
	
	
 
  <br>
  {{ form_row(form.author) }}
  <br>
  {{ form_row(form.published) }}
  <br>
  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

  {{ form_rest(form) }}  
  {{ form_end(form) }}

 </div>


{% endblock %}	